* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.wrapper {
    background-color: aquamarine;
    height: 100vh;
    padding: 30px;
}

.gallery_item {
    width: 350px;
    height: 200px;
    border: 5px solid red;
    overflow: hidden;
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 10px;
}

.gallery__img {
    width: 100%;
}

.gallery {
    min-height: 400px;
    background-color: #d4cdad;
}

.info {
    background-color: #f4a460;
}